   <main>
        {{!-- // make right-hero and left-hero be in flex-row --}}
       <div class="container">
      <div class="row">
        <img src="images/2004.i121.037_isometric_cooking_school_blog_set-01-removebg-preview.png" class="rounded float-start" id="chef" alt="Chef TasteTroop" >
        <div class="col-md-6" id="content">
          <h3>From TasteTroop to Tastebuds</h3>
          <p>Browse our extensive collection of recipes, and discover new dishes to add to your repertoire. Click on get started to sign up and start adding your recipes</p>
          <a href="/login" class="btn  mr-2 button">Get Started</a>
          {{#if logged_in}}
          <a id="recipe-button" href="/category" class="btn  mr-2 button">Recipe</a>
          <button class="btn  mr-2 button" id="logout">Logout</button>
           {{/if}} 
        </div>
    
<!-- Loop over each object in the projects array -->
 <div id="global">
  {{#each recipes as |recipe| }}
   <div id="mensajes">
    <div class="container py-5">
      <div class="row justify-content-center">
        <div id="card-content">
          <div class="card text-black">
            <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
            {{!-- // we insert the image of the category through helpers --}}
              <a href="/recipes/{{recipe.id}}">
                  <img src={{recipe.image}} class="card-img-top" alt="Recipe Image" />
              </a>
            <div class="card-body">
              <div class="text-center">
                <h5>
                  <a href="/recipes/{{recipe.id}}">{{recipe.name}}</a>
                </h5>
                <p class="text-muted mb-4">{{Category.name}}</p>
              </div>
              <div>
                <div class="d-flex justify-content-between">
                  <span>Recipe owner: </span><span class="text-secondary">{{User.name}}</span>
                </div>
                {{!-- <div class="d-flex justify-content-between">
                  {{!-- <span>Rating: </span><span class="text-secondary">{{recipe.ratings}}</span>
                </div> --}}
                <div class="d-flex justify-content-between">
                  <span>Created on:</span><span class="text-secondary">{{format_date date_created}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  {{/each}}
</div></main>



